body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
nav{
    background-color: rgb(171, 165, 165);
    overflow: hidden;
}
.saymaLogo{
    height: 30px;
    float:left;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50%;
}
ul{
    list-style: none;
    margin-right:10px;
    float:right;

}
li{
display: inline-block;
margin-right: 10px;
}

.coverPhoto {
    width: 100%;
    height: auto;
}

h2 {
    text-align: center;
}

.aboutMe {
    text-align: center;
    width: 70%;
    margin-left: 15%;
    color: gray;
}

.skill-icon {
    height: 50px;
}

.skillDiv {
    width: 90%;
    margin-left: 5%;
}

.skillCatagory {
    width: 30%;
    float: left;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.halkaColor {
    color: gray;
}

.portfolioMainDev {
    width: 90%;
    margin-left: 5%;
}

.portfolioDev {
    width: 31%;
    float: left;
    overflow: hidden;
    padding: 10px;
}

.portfolioDev img {
    width: 100%;
}